html, body, div, span, p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#queuesTableBody, #eventLog {
	max-height: 250px;
	overflow-y: scroll;
}

.elButton {
	float: right;
}

.conversationIdCell {
	background-color: #f5f5f5 !important;
}

.clipbutton {
	display: inline;
}




	      .left {
					width: 350px;
			    flex: 1;
					height: 100vh;
			    float: left;
			    overflow-y: scroll;
	      }

				.left::-webkit-scrollbar {
				  display: none;
				}

	      .right {
					flex: 2;
          margin-left: 30px;
					overflow-x: auto;
/*					overflow-x: auto; /* Agregar scroll horizontal en caso de ser necesario */
	      }


				.tabla-alternada {
				  width: 20px;
					font-size: 11px;
				  border-collapse: collapse;
				}

				.tabla-alternada th,
				.tabla-alternada td {
				  padding: 8px;
				  text-align: left;
				}

				.tabla-alternada th {
				  background-color: #4CAF50;
				  color: white;
				}

				.tabla-alternada tr:nth-child(even) {
				  background-color: #f2f2f2;
				}
